In [8]:

totalTime = 456;
print(f"{int(totalTime / 60)} 시간 {int(totalTime % 60)}분")

7 시간 36분

In [42]:
a = {"홍길동" : 3.4, "임꺽정" : 4.0, "김철수" : 2.8, "이영희" : 3.9}
#, "임꺽정" : 4.0, "김철수" : 2.8, "이영희" : 3.9
print(sorted(a.items())[0])
b = sorted(a.items())


[print(key, ":", value) for (key, value) in b]

('김철수', 2.8)
김철수 : 2.8
이영희 : 3.9
임꺽정 : 4.0
홍길동 : 3.4

[None, None, None, None]